*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

html,body{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
}

.navbar{
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: aqua; */
    list-style-type: none;
}

.navbar .right{
    display: flex;
    height: 100%;
    width: 30%;
    gap: 20px;
    align-items: center;
    margin-left: 10px;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.671);
}

.navbar .right img{
    height: 80%;
    width: 80%;
}

.navbar .left{
    display: flex;
    align-items: center;
    height: 100%;
    width: 30%;
    justify-content: space-around;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.671);
}

.page1{
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #dbdad7;
    display: flex;
    align-items: center;
}

.bgi{
    position: absolute;
    right: 1%;
    height: 300px;
    z-index: 2;
    opacity: 0.4;
    top: 40%;
    rotate: 12deg;
}

.page1 .left{
    margin-right: 20px;
    padding-left: 40px;
}

.page1 .right{
    padding: 20px;
    font-size: 2rem;
    z-index: 4;
}

.page1 .right h3{
    font-size: 25px;
    margin: 30px 0;
    margin-left: 9px;
    margin-top: 20px;
}

.page1 .right p{
    font-size: 1.1rem;
    margin: 20px 0;
    color: rgba(0, 0, 0, 0.514);
}

.page1 .right button{
    padding: 12px 20px;
    background-color: #6A9739;
    border: none;
    border-radius: 5px;
    margin-left: 30px;
    margin-top: 20px;
}


.page1 .right button i{
    margin-right: 9px;
}


.prices{
    display: flex;
    padding: 20px 40px;
    width: 100%;
    height: 18vh;
    justify-content: space-around;
    background-color: #111111;
    align-items: center;
}

.cards{
    background-color: #303030;
    padding: 30px 50px;
    color: white;
}

.cards h2{
    margin-left: 10px;
    font-size: 1.5rem;
}

.cards i{
    margin-left: -20px;
}

.cards p{
    margin-left: 20px;
    font-weight: 200;
}

.cards:last-child{
    margin-right: 40px;
}

.page2{
    width: 100%;
    height: 100vh;
}

.top{
    height: 35vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.top h3{
    margin-bottom: 20px;
}

.images{
    display: flex;
    /* gap: 35px; */
    justify-content: space-around;
}

.images .imagecards:last-child{
    margin-right: 42px;
}

.imagecards{
    width: 18%;
    text-align: center;
    padding-bottom: 50px;
}

.imagecards h5{
    margin-top: 10px;
    font-size: 1.3rem;
    font-weight: 700;
}

.imagecards h6{
    color: #11111191;
    font-size: 1rem;
    margin-top: 5px;
}

.new{
    position: relative;
    top: 49px;
    left: 42%;
}

.page3{
    height: 100vh;
    width: 100%;
    background-color: #dbdad777;
}

.page4{
    height: 100vh;
    width: 100%;
    background-color: #fffdf8;
}

.reviews{
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: -30px;
}

.reviewCard{
    padding: 40px 20px;
    text-align: center;
    margin-top: 80px;
    width: 20%;
    height: 60%;
    color: #11111181;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.199);
}

.reviewCard h2{
    margin-top: 70px;
    color: #111111;
}

.mid{
    text-align: center;
    width: 25%;
    margin: 0 -300px;
    height: 78%;
    background-image: url('./photoimp.jpg');
    background-position: center;
    background-size: cover;
    color: white;
    padding: 50px 30px;
    font-size: 2.2rem;
}

.mid button{
    padding: 5px 16px;
    margin-top: 80px;
    font-size: 1.4rem;
    background-color: #6A9739;
    border: none;
    color: white;
    font-weight: 600;
}

.footer{
    background-color: #001524;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.div1{
    width: 30%;
    background-color: aliceblue;
}

.div2{
    width: 30%;
    background-color: rgb(21, 112, 192);
    list-style-type: none;
}

.div3{
    width: 30%;
    background-color: rgb(180, 152, 28);
}

.ftr{
    padding: 40px 0;
    text-align: center;
    color: #11111170;
    font-size: 1.2rem;
    border-top: 1px solid rgba(0, 0, 0, 0.596);
}